body{
    color:black;
    background-color: whitesmoke;
}
.text-white{
    color: antiquewhite !important;
}

.navbar-expand-lg{
    background-color: #217346 !important;
}

.navbar-expand-lg .nav-link{
    color: antiquewhite;
    font-size: large;
}

.navbar-expand-lg .nav-link:hover{
    color: grey;
}

.navbar-expand-lg .dropdown-item{
   
    color: grey;
}
.navbar-nav .dropdown:hover .dropdown-menu{
    display: block;
    margin-top: 0;
}

.container{
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

.align-items-center{
    align-items: center !important;
}

.d-flex{
    display: flex !important;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.m-1{
    margin: .25rem !important;
}
.col{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.mb-4{
    margin-bottom: 1.5rem !important;
}
@media (min-width: 600px) {
    .col-lg-3{
        flex: 0 0 25%;
        max-width: 25%;
    }
}
.rounded-circle{
    border-radius: 50% !important;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border-style: none;
}

.about-me{
    font-size: 1.25rem;
    font-weight: 200;
}
.display-4{
    background-color: #4472c4;
    color: antiquewhite;
    font-weight: 400;
    line-height: 4.8rem;
}


.row{
    display: flex;
    flex-wrap: wrap;
}
.card-img-top{
    width: 100%;
    object-fit: cover;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem -1px);
}

img{
    vertical-align: middle;
    border-style: none;
}
.card-thumbnail{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: .25rem;
}
.stretched-link:hover{
    border: 1px solid grey;
}

.p-0{
    padding: 0 !important;
}
.col-md-4{
    flex: 0 0 33.3%;
    max-width: 33.3%;
}
.col-xl-3{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.p-2{
    padding: .5rem !important;
}
.m-2{
    margin: .5rem !important;
}

.project-content{
    position: absolute;
}
